@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

.project-final{
    background: #0C1C24;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.title{
    margin-top: 88px;
    margin-bottom: 12px;
}
.a{
    color: #FFF;
    margin: 0;
    text-align: center;
    font-family:'Manrope';
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px;
    letter-spacing: -1.65px;
}
.b{
    color: #FFF;
    text-align: center;
    font-family: 'Manrope';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    
    

}
.project{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    

}
.intro{
    width: 550px;
    display: flex;
    justify-content: center;
    
    margin-top: 12px;
    margin-bottom: 24px;

    
}
.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 18px;
}
.contact{
    width:172px;
    padding: 16px 32px;
    border-radius: 100px;
    background: #9ECC4C;
    color: white;
    border: none;
}
.learn{
    width: 172px;
    padding: 16px 32px;
    border-radius: 100px;
    color: white;
    border: 1px solid #FFF;
    background-color: #0C1C24;
    border-color: white;
}
.image{
    width: 100%;
    margin-bottom: 93px;
    margin-top: 53px;
    
}
.i{
    border-radius: 12px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0 20px ;
}
.button{
    border: none;
    width: 188px;
    height: 54px;
    color: #0C1C24;
    font-family:'Manrope';
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 100px;
    background: #FFF;
    margin-right: 70px;
    margin-top: 8px;

}
.nav{
    display: flex;
    gap: 32px;


}

.widget{
    color: #FFF;
    font-family:'Manrope';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.img{
    margin-left: 70px;
}

    
    


